html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --primary-button-bg-color: #2196f3;
  --logo-web-text-color: #2196f3;
  --logo-studio-text-color: #000000;
  --nav-link: #212121;
  --icons-color: #afb1b8;

  --white-color: #ffffff;
  --footer-background-color: #2f303a;
  --duration: 250ms;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  margin: 0;
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: roboto, sans-serif;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
/* обнуление спска точки */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* навигация */

.main-nav {
  height: 80px;
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid blueviolet; */
}
/* логотип компании */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.8;
  letter-spacing: 0.03em;
}
.logo:hover {
  color: var(--accent-color);
}
.logo-web {
  color: var(--logo-web-text-color);
}
.logo-studio {
  color: var(--logo-studio-text-color);
}
.foot-logo-studio {
  color: var(--white-color);
}
/* навигация */
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87px;
  letter-spacing: 0.02em;
}
.link,
.link-namber {
  transition: color var(--duration) var(--timing);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav {
  display: inline-flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .item + .item {
  margin-left: 30px;
}
.site-nav .link.active {
  color: #2196f3;
}
.current::after,
.nav-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);

  transition: transform var(--duration) var(--timing),
    opacity var(--duration) var(--timing);
}
.nav-hover::after {
  opacity: 0;
  transform: scaleX(0);
}

.nav-hover:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.auth-nav .link-namber {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
  --color5: var(--accent-color);
}

.link-namber {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.mail-icon {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: #757575;
  fill: currentColor;
}

.tel-icon {
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  fill: #757575;
  fill: currentColor;
}

/* скрытый h1 */
.onli {
  display: none;
}
/* герой */
.hero-box {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../img/Header-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  /* background-color: var(--main-text-color); */
}
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/* заголовки */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* фючерс */
.slogan {
  display: flex;
}
.icon-dia {
  display: block;

  padding: 33px 100px;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
}
.slogan .slogan-up + .slogan-up {
  margin-left: 30px;
}
.slogan-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-text-color);
}
/* .feature-title {
  height: 70px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
} */

.feature .text {
  width: 270px;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.down {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* род деятельности */
.section {
  margin-right: 215px;
  width: 1170px;
}
.direction {
  display: flex;
}
.business-box {
  margin-bottom: 94px;
}
.direction .business + .business {
  margin-left: 30px;
}
.business {
  position: relative;
  z-index: 1;
}
.feature-title {
  position: absolute;
  bottom: 0;
  left: 0;

  margin: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* сотрудники */
.social-networks {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;

  text-align: center;
  padding-top: 20px;
  padding-bottom: 24px;
}

.networks {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--icons-color);
  transition: background-color var(--duration) var(--timing),
    fill var(--duration) var(--timing);
}
.networks:hover,
.networks:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}
.networks-list:not(:last-child) {
  margin-right: 10px;
}
.team-list {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team .team-list + .team-list {
  margin-left: 30px;
}
.team .team-list {
  width: 270px;
  background-color: var(--white-color);
}
.names-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  display: flex;
  width: 1170px;
  padding-top: 50px;
}
/* заголовок с падингом */
.our-team {
  padding-top: 94px;
}

.img-team {
  margin-bottom: 30px;
}
.section-background {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 702px;
  background-color: #f5f4fa;
}

.section-employees {
  justify-content: center;
}

.prof-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* клиенты */
/* цвет текста заголовка */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--titel-text-color);
}
.customers {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.customers .customer-list + .customer-list {
  margin-left: 30px;
}
.company {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  fill: var(--icons-color);
  transition: border-color var(--duration) var(--timing),
    fill var(--duration) var(--timing);
}

.company:hover,
.company:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.slogan-img {
  display: block;
  width: 270px;
  height: 120px;

  padding: 25px 100px;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
}

/* подвал */
.footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 253px;
  background-color: #2f303a;
}
.networks-list-footer {
  margin-right: 10px;
}
.networks-list-footer:last-child {
  margin-right: 0;
}
.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 193px;
}
.footer-logo {
  display: flex;
  align-items: baseline;
}
.footer-logo .pad-logo {
  padding-top: 60px;
}
.address-cont {
  width: 231px;

  padding-top: 20px;
}
.networks-list-footer {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social {
  padding-left: 0;
  padding-right: 0;
}

.networks-list-footer:hover,
.networks-list-footer:focus {
  background-color: var(--accent-color);
}
.icon-social-fut {
  fill: #fff;
}

.address .address-link:hover,
.address .address-link:focus {
  color: var(--accent-color);
}
.address {
  display: inline-block;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* .address-link:not(:last-child) {
  margin-bottom: 9px;
} */
.address-link {
  display: inline-block;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--duration) var(--timing);
}
/* пописка на рссылку */

.push-go {
  padding-top: 57px;
  padding-left: 69px;
}
.push {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.email {
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-background-color);
  color: var(--icons-color);
  font-size: 16px;
  line-height: 1.25;
}
.go:hover,
.go:focus {
  color: var(--accent-color);
}
.end-box {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.end {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

/* портфолио */
.work-box {
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.work-list {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  color: var(--main-text-color);
}
.work-list .work-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 30px * 2) / 3);
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}
.work-product {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 4px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.work-linke {
  display: inline-block;
  color: var(--main-text-color);
}
.portfolio-image {
  position: relative;
}
.text-back {
  position: absolute;
  margin: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;

  opacity: 0;
}
.overlay,
.text-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  transition: transform var(--timing) var(--duration);
  transition: opacity var(--timing) var(--duration);
}
.overlay {
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--duration) var(--timing),
    opacity var(--duration) var(--timing);
}
.work-linke:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}
.work-linke {
  transition: transform var(--duration) var(--timing);
  transition: opacity var(--timing) var(--duration);
  transition: box-shadow var(--timing) var(--duration);
}
.work-linke:hover .text-back,
.work-linke:focus .text-back {
  opacity: 1;
}
.text-back:hover {
  opacity: 1;
}
.work-item .work-linke:hover,
.work-item .work-linke:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* button */

.input {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;

  transition: background-color var(--duration) var(--timing),
    color var(--duration) var(--timing),
    border-color var(--duration) var(--timing),
    box-shadow var(--duration) var(--timing);
}
.button-primary {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}
.button-nav {
  margin-top: 93px;
}
.button-primary .item + .item {
  margin-left: 8px;
}
.input:hover,
.input:focus {
  color: var(--white-color);
  background: var(--accent-color);
}

.button-secondary {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  transition: color var(--duration) var(--timing),
    border-color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
  border-color: var(--accent-color);
}
/* модалка */
.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;

  opacity: 1;
  transition: opacity var(--timing) var(--duration);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 581px;
  min-width: 528px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing) var(--duration);
}
.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-name {
  display: block;
  margin-bottom: 30px;

  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  color: var(--titel-text-color);
}
.modal-input {
  position: relative;

  display: block;
  margin-bottom: 30px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill var(--timing) var(--duration);
}
.input-field {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--timing) var(--duration);
}
.input-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  letter-spacing: 0.01em;

  transition: transform var(--timing) var(--duration),
    color var(--timing) var(--duration);
}
.modal-input:focus-within > .input-field {
  outline: none;
  border-color: var(--accent-color);
}

.modal-input:focus-within > .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  transform: translate(-25px, -35px);
  font-size: 12px;
  line-height: 1.17px;
  color: var(--accent-color);
}

.modal-input:focus-within > .modal-icon {
  fill: var(--accent-color);
}

.textarea {
  margin-bottom: 30px;
  padding-left: 16px;

  transition: border-color var(--timing) var(--duration);
}

.textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.textarea::placeholder {
  letter-spacing: 0.01em;
}

.modal-button {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-130%, 130%);

  background-color: var(--white-color);
  fill: var(--logo-studio-text-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill var(--duration) var(--timing);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--white-color);
  fill: var(--accent-color);
}

.rules,
.rules:visited {
  color: var(--accent-color);
}

.checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agree {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .agree {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../img/gud.svg);
  background-size: auto auto;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* #212121 цвет заголовкав */
/* #757575 цвет абзатцов */
/* второая часть цвет лого #000000 */
/* #2196F3 первоя часть лого */
/* font-family: Roboto; */
/* акцент #2196F3 */
/* цвет фона первичный #FFFFFF;*/
/* вторичны цвет фона #F5F4FA */
/* цвет футера #2F303A; */
